<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
    <style>
        .el-aside {
            background-color: #D3DCE6;
            color: #333;
            text-align: center;
            line-height: 450px;
        }

        .el-main {
            background-color: #E9EEF3;
            color: #333;
            border: 1px solid rgba(0,0,0,0.1);
            border-radius: 4px;

        }
        .breadcrumb-demo {
            height:40px;
            border: 1px solid rgba(0,0,0,0.1);
            border-radius: 4px;
            font-size:28px;
            width: 80%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            padding-left: 20px;
            padding-top:20px;
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        }

        .page-header-demo {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            color: #FF33CC;
        }
        .text {
            font-size: 14px;
        }

        .item {
            background-color: #E9EEF3;
            padding: 18px 0;
        }

        .box-card {
            background-color: #E9EEF3;
        }
    </style>
</head>
<body>
<div id="app">

    <el-dialog
            title="购买"
            :visible.sync="dialogVisible"
            width="40%"
    >
        <el-form ref="product" :model="product" label-width="80px" class="demo-ruleForm">
            <el-form-item label="商品名称" prop="name">
                <span>{{product.name}}</span>
            </el-form-item>
            <el-form-item label="商品价格" prop="price">
                <span>{{product.price}}</span>
            </el-form-item>
            <el-form-item label="商品类别" prop="category">
                <span>{{product.categoryName}}</span>
            </el-form-item>
            <el-form-item label="商品描述">
                <span>{{product.description}}</span>
            </el-form-item>
            <el-form-item label="购买数量" prop="num">
                <el-input-number v-model="num" :min="1" :max="product.pnum" label="商品数量">
                </el-input-number>
            </el-form-item>

            <el-form-item label="实物图" prop="imgurl">
                <img :src=product.imgurl width="200px" onerror="this.src='products/error_images.jpg;this.onerror=null'" class="image">
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="directBuy">点击直接购买</el-button>
                <el-button type="success"@click="addCart2">添加到购物车</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
    <el-divider></el-divider>

    <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb-demo" style="font-size:20px;">
        <el-breadcrumb-item><a v-bind:href = pathName>首页</a></el-breadcrumb-item>
        <el-breadcrumb-item><a v-bind:href = pathNameDetail>{{product.categoryName}}</a></el-breadcrumb-item>
        <el-breadcrumb-item>{{product.name}}</el-breadcrumb-item>
    </el-breadcrumb>
    <el-divider></el-divider>
    <!-- 详情页 -->
    <el-container style="width: 80%;  margin-left: auto; margin-right: auto; ">
        <el-aside width="480px" style=" overflow-y: hidden;">
            <div style="height:480px" >
                <img :src=product.imgurl style="margin-top: 20px;width: 440px"
                     onerror="this.src='products/error_images.jpg;this.onerror=null'" alt="">
            </div>
        </el-aside>
        <el-main>
            <div>
<!--                <div v-for="o in 4" :key="o" class="text item">-->
<!--                    {{'列表内容 ' + o }}-->
<!--                </div>-->
                <div class="el-main">
                    <i class="el-icon-s-goods"></i>
                    {{product.name}}
                </div>
                <div class="el-main">
                    售价：￥{{product.price}}
                </div>
                <div class="el-main">
                    类别：{{product.categoryName}}
                </div>
                <div class="el-main">
                    <div>
                        商品信息：
                    </div>
                    <div style="padding-top:12px">
                        &nbsp;&nbsp;{{product.description}}
                    </div>
                </div>
                <div class="el-main">
                    <el-row>
                        <el-col :span="12">剩余：{{product.pnum}}</el-col>
                        <el-col :span="12">销售员：<a href="" style="text-decoration: none;">{{product.salePerson.name}}</a></el-col>
                    </el-row>
                </div>
                <div class="el-main">
<!--                    <el-row>-->
<!--                        <el-col :span="12"><el-button type="primary" round>点击购买</el-button></el-col>-->
<!--                        <el-col :span="12"><el-button type="success" round>加入购物车</el-button></el-col>-->
<!--                    </el-row>-->
                    <el-row>
                        <el-col :span="4"><el-link href=""></el-link></el-col>
                        <el-col :span="4"><el-button type="primary" round @click.native="buy">点击购买</el-button></el-col>
                        <el-col :span="4"><el-link href=""></el-link></el-col>
                        <el-col :span="4"><el-link href=""></el-link></el-col>
                        <el-col :span="4"><el-button type="success" round @click.native="addCart">加入购物车</el-button></el-col>
                        <el-col :span="4"><el-link href=""></el-link></el-col>
                    </el-row>
                </div>
            </div>
        </el-main>
    </el-container>

</div>

<script src="js/axios-0.18.0.js"></script>
<script src="js/vue.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script>
    new Vue({
        el: "#app",
        mounted() {
            axios({
                method: "post",
                url: "/nanyu-onlinestore/user/isLogin"
            }).then(resp => {
                this.user = resp.data;
                if (this.user.username !== "") {
                    let params = new URL(location.href).searchParams;
                    this.product.id = params.get('id');
                    this.pathName = "/" + window.location.pathname.split("/")[1];
                    if (this.product.id != null && this.product.id !== "") {
                        this.selectById();
                    }
                } else {
                    window.location.href = "/nanyu-onlinestore";
                }
            });
        },

        methods: {
            selectById() {
                axios({
                    method: "get",
                    url: this.pathName + "/product/selectById?id=" + this.product.id,
                }).then(resp => {
                    // 设置表格数据
                    this.product=resp.data;
                    this.pathNameDetail = this.pathName + "/index.html?" + "category=" + this.product.category;
                });
            },
            addCart() {
                this.cartItem.userId = this.user.id;
                this.cartItem.productId = this.product.id;
                this.cartItem.num = 1;
                axios({
                    method: "post",
                    url:this.pathName+"/cart/add",
                    data:this.cartItem
                }).then(resp => {
                    if (resp.data === "success") {
                        this.$message({
                            message: '恭喜你，添加商品到购物车成功',
                            type: 'success'
                        });
                    }
                });
            },
            addCart2() {
                this.cartItem.userId = this.user.id;
                this.cartItem.productId = this.product.id;
                this.cartItem.num = this.num;
                axios({
                    method: "post",
                    url:this.pathName+"/cart/add",
                    data:this.cartItem
                }).then(resp => {
                    if (resp.data === "success") {
                        this.$message({
                            message: '恭喜你，添加商品到购物车成功',
                            type: 'success'
                        });
                        setTimeout(function () {
                            window.location.href = "/nanyu-onlinestore/cart.html";
                        },1000);
                    }
                });
            },
            directBuy() {
                this.$confirm('此操作将生成订单, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    // 用户点击确认按钮，执行then中逻辑
                    this.order.orderItems = new Array(1);
                    var orderItemDemo = {
                        productId: "",
                        buyNumber: ""
                    };
                    orderItemDemo.productId = this.product.id;
                    orderItemDemo.buyNumber = this.num;
                    this.order.orderItems[0]=orderItemDemo;
                    this.order.money += this.product.price * this.num;
                    this.order.money = this.order.money.toFixed(2);
                    this.order.userId=this.user.id;
                    // 发送ajax请求
                    axios({
                        method: "post",
                        url: "/nanyu-onlinestore/order/add",
                        data: this.order
                    }).then(resp => {
                        window.location.href = "/nanyu-onlinestore/order.html?id=" + resp.data;
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            buy() {
                this.dialogVisible = true;
            }
        },

        data() {
            return {
                num: 1,
                user: {
                    id: "",
                    name: "",
                    username: ""
                },
                cartItem: {
                    userId: "",
                    productId: "",
                    num: ""
                },
                pathName: "",
                pathNameDetail: "",
                product: {
                    id: "",
                    name: "",
                    price: "",
                    category: "",
                    categoryName: "",
                    imgurl: "",
                    description: "",
                    pnum: "",
                    salePerson: {
                        id: "",
                        name: ""
                    }
                },
                dialogVisible: false,
                order: {
                    id: "",
                    money: 0,
                    // receiverAddress: "",
                    // receiverName: "",
                    // receiverPhone: "",
                    userId: "",
                    orderItems: []
                },
            };
        }
    })
</script>
</body>
</html>