<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <style>
        body {
            background: url(images/login2.jpeg) no-repeat 0 0;
        }

        .div-demo {
            width: 30%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 200px;
            border: 1px solid rgba(0.1, 0.1, 0.1, 0.3);
            border-radius: 4px;
            font-size: 28px;
            background-color: rgba(75, 81, 95, 0.3);
            box-shadow: 7px 7px 17px rgba(52, 56, 66, 0.5);
        }

        .form-demo {
            margin: 70px 30px auto;
            width: 80%;
        }

    </style>
</head>
<body>
<div id="app" class="div-demo">
<!--    <el-form :model="user" status-icon :rules="rules" ref="user" label-width="100px" class="demo-ruleForm form-demo">-->
    <el-form ref="form" :model="form" label-width="80px" class="form-demo">
        <el-form-item>
            <span slot="label">
                <span style="color: #f0edf3">用户名</span></span>
            <el-input v-model="form.username"></el-input>
        </el-form-item>
        <el-form-item>
            <span slot="label">
                <span style="color: #f0edf3">密码</span></span>
            <el-input type="password" v-model="form.password" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item>
            <span slot="label">
                <span style="color: #f0edf3">记住密码</span></span>
            <el-switch v-model="form.remember"></el-switch>
        </el-form-item>
        <el-form-item>
            <el-row>
                <el-col :span="1">
                    <el-link href=""></el-link>
                </el-col>
                <el-col :span="4">
                    <el-button type="primary" @click.native="onSubmit">登录</el-button>
                </el-col>
                <el-col :span="4">
                    <el-link href=""></el-link>
                </el-col>
                <el-col :span="5">
                    <el-button size="mini" type="danger" @click.native="resetForm">重置</el-button>
                </el-col>
                <el-col :span="5">
                    <el-button size="mini" type="success" @click.native="register">注册</el-button>
                </el-col>
                <el-col :span="5">
                    <el-button size="mini" type="warning" @click.native="active">激活</el-button>
                </el-col>
            </el-row>


        </el-form-item>
    </el-form>
</div>

<script src="js/axios-0.18.0.js"></script>
<script src="js/vue.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script>
    new Vue({
        el: "#app",

        mounted() {
            this.isRemember();
        },

        methods: {
            isRemember() {
                axios({
                    method: "get",
                    url: "/nanyu-onlinestore/user/getUsernameAndPassword"
                }).then(resp => {
                    this.form = resp.data;
                });
            },
            onSubmit() {
                axios({
                    method: "get",
                    url: "/nanyu-onlinestore/user/selectByUsernameAndPassword?username=" +
                        this.form.username + "&password=" + this.form.password + "&remember=" + this.form.remember,
                }).then(resp => {
                    this.user = resp.data;
                    if (this.user.role === "user" && this.user.state === 1) {
                        this.$message({
                            message: '恭喜你，登录成功，正在跳转至首页',
                            type: 'success'
                        });
                        setTimeout(function () {
                            window.location.href = "/nanyu-onlinestore";
                        },1000);
                    }else if (this.user.role === "sale" && this.user.state === 1) {
                        this.$message({
                            message: '恭喜你，登录成功，正在跳转至店铺首页',
                            type: 'success'
                        });
                        setTimeout(function () {
                            window.location.href = "/nanyu-onlinestore/myAccount.html";
                        },1000);
                    } else if (this.user.role === 'adm') {
                        this.$message({
                            message: '管理员，别来无恙啊',
                            type: 'success'
                        });
                        setTimeout(function () {
                            window.location.href = "/nanyu-onlinestore/admin.html";
                        },1000);
                    } else {
                        if(this.user.state === 2) {
                            this.$message.warning('该用户已被冻结');
                        } else
                            this.$message.error('用户名密码错误，请重试');
                    }
                });
            },
            resetForm() {
                this.form.username="";
                this.form.password = "";
                this.form.remember = false;
            },
            register() {
                window.location.href = "/nanyu-onlinestore/register.html";
            },
            active() {
                window.location.href = "/nanyu-onlinestore/active.html";
            }
        },

        data() {
            return {
                form: {
                    username: '',
                    password: "",
                    remember: false
                },
                user: {}
            };
        }
    })
</script>
</body>
</html>