<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>欢迎注册</title>
    <style>
        /*body {*/
        /*    background: url(images/login.jpeg) no-repeat 0 0;*/
        /*}*/

        .div-demo {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            box-shadow: 7px 7px 17px rgba(0, 0, 0, 0.1);
        }

        .form-demo {
            margin: 25px 30px auto;
            width: 60%;
        }

    </style>
</head>
<body>
<div id="app" class="div-demo">
    <el-form :model="user" status-icon :rules="rules" ref="user" label-width="100px" class="demo-ruleForm form-demo">
        <el-form-item label="用户类型">
            <el-radio-group v-model="user.role" size="medium" @change="typeChange">
                <el-radio-button border label="user">普通用户</el-radio-button>
                <el-radio-button border label="sale">销售人员</el-radio-button>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="用户名" prop="username">
            <el-input v-model="user.username"></el-input>
        </el-form-item>
        <el-form-item :label="name" prop="name">
            <el-input v-model="user.name"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password">
            <el-input type="password" v-model="user.password" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="确认密码" prop="checkPass">
            <el-input type="password" v-model="user.checkPass" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="性别" prop="gender">
            <el-radio-group v-model="user.gender" size="medium">
                <el-radio-button border label="男"></el-radio-button>
                <el-radio-button border label="女"></el-radio-button>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="邮箱" prop="email">
            <el-input v-model="user.email"></el-input>
        </el-form-item>
        <el-form-item label="电话" prop="telephone">
            <el-input v-model="user.telephone"></el-input>
        </el-form-item>
        <el-form-item :label="address" prop="address">
            <el-input v-model="user.address"></el-input>
        </el-form-item>
        <el-form-item label="简介" prop="introduce">
            <el-input type="textarea" v-model="user.introduce"></el-input>
        </el-form-item>
        <el-form-item label="验证码" prop="code">
            <el-row>
                <el-col :span="10">
                    <el-input v-model="user.code"></el-input>
                </el-col>
                <el-col :span="1">
                    <el-link href=""></el-link>
                </el-col>
                <el-col :span="5">
                    <el-button round size="small" @click="getImgCode">看不清？</el-button>
                </el-col>
                <el-col :span="1">
                    <el-link href=""></el-link>
                </el-col>
                <el-col :span="7">
                    <img id="checkCodeImg" :src="imgCode" alt=""/>
                </el-col>
            </el-row>

        </el-form-item>
        <el-form-item>
            <el-row>
                <el-col :span="2">
                    <el-link href=""></el-link>
                </el-col>
                <el-col :span="4">
                    <el-button type="primary" @click="submitForm('user')">注册</el-button>
                </el-col>
                <el-col :span="8">
                    <el-link href=""></el-link>
                </el-col>
                <el-col :span="6">
                    <el-button type="danger" @click="resetForm('user')">重置</el-button>
                </el-col>
            </el-row>
        </el-form-item>
    </el-form>
</div>

<script src="js/axios-0.18.0.js"></script>
<script src="js/vue.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script>
    new Vue({
        el: "#app",

        mounted() {
            this.getImgCode();
        },

        methods: {
            getImgCode () {
                axios.get('/nanyu-onlinestore/util/changeCode', {
                    responseType: 'arraybuffer'
                })
                    .then(response => {
                        return 'data:image/png;base64,' + btoa(
                            new Uint8Array(response.data)
                                .reduce((data, byte) => data + String.fromCharCode(byte), '')
                        )
                    }).then(data => {
                    this.imgCode = data
                })
                console.log(this.imgCode)
            },
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        axios({
                            method: "get",
                            url: "/nanyu-onlinestore/user/checkCode?checkCode="+this.user.code,
                        }).then(resp => {
                            if (resp.data === "success") {
                                axios({
                                    method: "post",
                                    url: "/nanyu-onlinestore/user/add",
                                    data: this.user
                                }).then(resp => {
                                    if (resp.data === "success") {
                                        this.$message({
                                            message: '恭喜你，注册成功，正在跳转至首页',
                                            type: 'success'
                                        });
                                        setTimeout(function () {
                                            window.location.href = "/nanyu-onlinestore";
                                        },1000);
                                    }

                                });
                            } else {
                                this.$message.error('验证码有误，请重试');
                            }
                        });

                    } else {
                        this.$message.error('表单有误，请继续填写');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
            ,
            typeChange(val) {
                if (val === "user") {
                    this.name = "昵称";
                    this.address = "收货地址";
                } else {
                    this.name = "商铺名";
                    this.address = "商铺地址";
                }
            }
        },

        data() {
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                } else {
                    if (this.user.checkPass !== '') {
                        this.$refs.user.validateField('checkPass');
                    }
                    callback();
                }
            };
            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== this.user.password) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };
            var validatePhoneTwo = (rule, value, callback) => {
                const reg = /^((0\d{2,3}-\d{7,8})|(1[3-9]\d{9}))$/;
                ;
                if (value === '' || value === undefined || value === null) {
                    callback();
                } else {
                    if ((!reg.test(value)) && value !== '') {
                        callback(new Error('请输入正确的电话号码或者固话号码'));
                    } else {
                        callback();
                    }
                }
            };
            var validateUsername = (rule, value, callback) => {
                if (value === '' || value === undefined || value === null) {
                    callback();
                } else {
                    axios({
                        method: "get",
                        url: "/nanyu-onlinestore/user/selectUserByUserName?username="+value
                    }).then(resp => {
                        if (resp.data === true) {
                            callback(new Error('当前用户名已存在，请您换一个吧'));
                        } else {
                            callback();
                        }
                    });
                }
            };
            return {
                name: "昵称",
                address: "收货地址",
                imgCode: '',
                user: {
                    role: "user",
                    username: "",
                    name: "",
                    password: '',
                    checkPass: '',
                    gender: '',
                    email: '',
                    telephone: "",
                    address: "",
                    introduce: "",
                    code: ""
                },
                rules: {
                    username: [
                        {required: true, message: '请输入用户名(用于登录，需要唯一)', trigger: 'blur'},
                        {min: 3, max: 20, message: '长度在 3 到 20 个字符', trigger: 'blur'},
                        {validator: validateUsername, trigger: 'blur'}
                    ],
                    password: [
                        {required: true, validator: validatePass, trigger: 'blur'},
                        {min: 6, max: 20, message: '长度在 6 到 20 个字符', trigger: 'blur'}
                    ],
                    checkPass: [
                        {required: true, validator: validatePass2, trigger: 'blur'}
                    ],
                    gender: [
                        { trigger: 'change' }
                    ],
                    email: [{
                        required: true,
                        message: "电子信箱不能为空",
                        trigger: "blur"
                    }, {
                        validator: function (rule, value, callback) {
                            if (
                                /^\w{1,64}@[a-z0-9\-]{1,256}(\.[a-z]{2,6}){1,2}$/i.test(
                                    value
                                ) === false
                            ) {
                                callback(new Error("邮箱格式错误"));
                            } else {
                                callback();
                            }
                        },
                        trigger: "blur"
                    }],
                    telephone: [
                        {validator: validatePhoneTwo, trigger: 'blur'}
                    ],
                    code: [
                        {
                            required: true,
                            message: "验证码不能为空",
                            trigger: "blur"
                        }
                    ]
                }
            };
        }
        ,

    })
</script>
</body>
</html>