<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.yukun.mapper.ProductMapper">
    <update id="update">
        update product set
            name=#{name},description=#{description},
            price=#{price},category=#{category},
            categoryName=#{categoryName},pnum=#{pnum},
            saleId=#{saleId},ordered=#{ordered},
            <if test="imgurl != null and imgurl != ''" >
                imgurl=#{imgurl},
            </if>
            status=#{status}
        where id = #{id};
    </update>

    <select id="selectByPageAndCondition" resultType="online.yukun.pojo.Product">
        select *
        from product
        <where>
            <if test="product != null">
                <if test="product.category != null and product.category != ''">
                    and category = #{product.category}
                </if>
                <if test="product.name != null and product.name != ''">
                    and name like #{product.name}
                </if>
            </if>
            and status = 1
        </where>
        order by ordered desc
        limit #{begin},#{size};
    </select>

    <select id="selectTotalCountByCondition" resultType="java.lang.Integer">
        select count(*)
        from product
        <where>
            <if test="product != null">
                <if test="product.category != null and product.category != ''">
                    and category = #{product.category}
                </if>
                <if test="product.name != null and product.name != ''">
                    and name like #{product.name}
                </if>
            </if>
            and status = 1
        </where>
    </select>
    <select id="selectByPageAndSale" resultType="online.yukun.pojo.Product">
        select *
        from product
        <where>
            <if test="product != null">
                <if test="product.category != null and product.category != ''">
                    and category = #{product.category}
                </if>
                <if test="product.name != null and product.name != ''">
                    and name like #{product.name}
                </if>
                <if test="product.description != null and product.description != ''">
                    and description like #{product.description}
                </if>
                <if test="product.status != null">
                    and status = #{product.status}
                </if>
            </if>
        </where>
        order by time desc
        limit #{begin},#{size};
    </select>

    <delete id="deleteByIds">
        delete
        from product
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

</mapper>